body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.products{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

* {
  font-family: 'Exo 2', sans-serif;
}

#app{
  position: relative;
}

.content{
  position: absolute;
  right: 0;
  left: 300px;
  margin: 0 auto;
  padding-left: 35vh;
  padding-right: 35vh;
}

.sidebar{ 
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 300px;
  z-index: 100;
  padding: 10px;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.link{
  color: aliceblue !important;
}

.addContact{
  margin-top: 30vh;
}